* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #74fb8f;
}

.init_play_button {
    border: none;
    padding: 15px 40px;
    background: #011e07;
    color: #06e532;
    font-size: 24px;
    border-radius: 15px;
    z-index: 1;
    cursor: pointer;
}

.init_play_button:hover, .replay:hover, .exit:hover {
    background: #06e532;
    color: #000;
}

.init_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    position: relative;
}

.init_cont > * {
    position: absolute;
}

.big-x, .big-o {
    color: #8fb3ff;
    font-size: 400px;
    z-index: -1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #74fb8f;
}

.buttons_cont {
    width: 420px;
    height: 420px;
    padding: 30px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 20px;
}

.board_button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100px;
    height: 100px;
    background: #74fb8f;
    border-radius: 20px;
}

.board_button:hover {
    background: #06e532;
}

.turn_indicator {
    font-size: 100px;
    margin-top: 50px;
}

.turn_indicator > i {
    color: #000;
}

.buttons_cont > div {
    width: 100px;
    height: 100px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-o {
    font-size: 100px;
    color: #74fb8f;
}

.medium-x {
    font-size: 100px;
    color: #000;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #74fb8f;
}

.winner_div, .tie_div {
    color: black;
    font-size: 70px;
    margin-top: 50px;
}

.unclicked {
    width: 100px;
    height: 100px;
    background-color: #000;
}

#flash > * {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.replay_div {
    display: flex;
    gap: 50px;
}

.replay, .exit {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #011e07;
    color: #06e532;
    border: none;
    font-size: 24px;
    border-radius: 10px;
}

.replay {
    content: "REPLAY";
}

.exit {
    content: "EXIT";
}

#white {
    color: #fff;
}

#green {
    color: #74fb8f;
}

